<div class="extstats-doc">
  <extstats-button-group #buttongroup>
    <button type="button" class="btn" [extstatsButtonGroup]="buttongroup" selector="config">Fiddle</button>
  </extstats-button-group>
</div>

<div *ngIf="buttongroup.selected === 'config'" style="display: flex; flex-direction: row; width: 100%">
  <div class="slider-box">
    <h3>How Many Games to Highlight {{howMany}}</h3>
    <ng5-slider [(value)]="howMany" [options]="howManyOptions" (userChange)="fiddle.next()"></ng5-slider>
    <p>This slider controls how many of your top played games get their own arc on this chart. By default, this is 30.
    </p>
  </div>
</div>

<div class="extstats-graph florence">
  <div #target style="flex-grow: 1; display: block"></div>
</div>

<p>What subdomains of game do you primarily play?</p>
