/* Styles for pogo-table */
.table.extstats-table td,
.table.extstats-table tbody,
.table.extstats-table thead,
.table.extstats-table.table thead th {
  border-color: #fdc02f;
  max-width: 450px;
}
td.name {
  text-align: left;
}
/* border colour lightened 60% with 0.5 alpha */
/* https://www.hexcolortool.com/#e52464 */
.table.table-striped.extstats-table tbody tr:nth-child(even){
  background-color: rgba(255, 255, 149, 0.5);
}
.table.table-striped.extstats-table tbody tr:nth-child(odd){
  background-color: white;
}
.extstats-page-item.active {
  background-color: rgba(255, 255, 149, 0.5);
}
.extstats-table-controller {
  background-color: #fdc02f;
  color: black;
  border: 1px solid #fdc02f;
}
.extstats-table-controller a.extstats-page-link {
  color: black;
}
.table.extstats-table thead td,
.table.extstats-table tbody td {
  border-right-width: 0;
  border-left-width: 0;
}
th {
  background-color: #fdc02f;
  color: black;
}
div.extstats-doc button {
  border: solid 1px #fdc02f;
}
div.extstats-doc li.nav-item a.nav-link.active {
  color: #fdc02f;
}
div.extstats-doc li.nav-item a.nav-link {
  color: #777777;
  font-size: 14px;
  border-radius: unset;
}
div.collapse {
  margin-top: 1rem;
}
.pogo-table, .least-loved-table {
  line-height: 1.5em;
}

