@if (loading) {
  <extstats-loader/>
}

@if (!username) {
  <p>
    Extended Stats uses data from boardgamegeek.com. This data is available to everybody, without logging in.
    You don't need to log in to see your boardgame statistics.
    However there are advantages to logging in - the site will remember your BGG username and favourite page configurations and so on.
    If you would like to do that, please log in or sign up using the button on the right.
    You will then be able to use this page to configure your preferences.
  </p>
} @else {
  <div class="user-config-form">
    <h4>User Name and Quick-Switch</h4>
    <div>
      <p>This is your BGG user name. In case you use multiple BGG accounts, enter them all so you will be able to switch between them easily.
        If your BGG username is not here, please PM Friendless on BGG to be added to the list.
      </p>
      <geek-combo (geekChosen)="geekchips.addGeek($event)" [placeholder]="'BGG User Names'" style="width: 100%;"></geek-combo>
      <div style="height: 0; margin-top: 8px"></div>
      <geek-chips #geekchips [editable]="true" [geeks]="geekids"></geek-chips>
    </div>

    <h4 style="margin-top: 20px">Buddy Groups</h4>
    <div>
      <p>These are your buddy groups, which are groups of people that you will be able to compare with each other.</p>
      <div>
        @for (buddies of buddyGroups; track buddies) {
          <buddy-set-editor [buddies]="buddies" (edited)="buddiesChanged($event)"></buddy-set-editor>
        }
        @empty {
          <p style="font-weight: 500; font-size: larger">You don't have any buddy groups yet.</p>
        }
      </div>
      <button type="button" class="extstats-button" (click)="more()" style="margin: 20px">Another Buddy Group</button>
    </div>

    <button type="button" class="extstats-button" (click)="save()">Save</button>

    @if (disambiguationData) {
      <h4>Base Game Disambiguation</h4>
      <h5>Default Base Games</h5>
      <p>These are expansions for which we don't necessarily know the base game.</p>
      <dl>
        @for (item of disambiguationData.items; track item; ) {
          @let base = assignedBaseGame(item.expansion.bggid);
          <dt class="disambiguation-expansion" [ngClass]="{ 'unassigned': base === undefined }">{{item.expansion.name}}</dt>
          @for (bg of item.basegames; track bg.bggid) {
            <dd class="disambiguation-basegame" [ngClass]="{ 'assigned': base === bg.bggid }" (click)="assign(item.expansion.bggid, bg.bggid)">
              <input type="radio" [checked]="base === bg.bggid">
              <span>{{bg.name}}</span>
            </dd>
          }
          <dd class="disambiguation-basegame" [ngClass]="{ 'assigned': base === undefined }" (click)="unassign(item.expansion.bggid)">
            <input type="radio" [checked]="base === undefined">
            <span>(no default)</span>
          </dd>
        }
      </dl>
      <button type="button" class="extstats-button" (click)="saveDisambiguation()">Save</button>

      <h5>Ambiguous Plays</h5>
      <p>
        These are plays you've recorded on BGG for which we coudln't infer a base game.
        You can fix these by either adding a base game to your plays on BGG on the day,
        or by setting a default base game in the options above.
        Those changes will take effect when Extended Stats next downloads the play -
        in this case of historical plays you will need to initiate that on the Updates page.
      </p>
      <ul>
        @for (play of disambiguationData.plays; track play) {
          <li>Played {{play.name}} in {{play.year}}</li>
        } @empty {
          <P>None of your plays are ambiguous!</P>
        }
      </ul>
    }

    @if (loading2) {
      <extstats-loader/>
    }

    <div>
      <h4>Your Personal Data</h4>
      <p>These are the data which Extended Stats stores about you (as currently in the database).</p>
      <textarea class="personal-data" readonly [rows]="12" style="width: 100%">
      {{personalData}}
    </textarea>
    </div>

  </div>
}
