<div class="extstats-doc">
  <extstats-button-group #buttongroup>
    <button type="button" class="btn" [extstatsButtonGroup]="buttongroup" selector="config">Fiddle</button>
  </extstats-button-group>
</div>

@if (buttongroup.selected === 'config') {
  <div style="display: flex; flex-direction: row; width: 100%">
    <div class="slider-box">
      <h3>How Many Games to Show {{howMany}}</h3>
      <ngx-slider [(value)]="howMany" [options]="howManyOptions" (userChange)="fiddle.next(undefined)"></ngx-slider>
      <p>This slider controls how many of your top played games to show on this chart. By default, this is 20.
      </p>
    </div>
  </div>
}

<div class="extstats-table-block extstats-table-wide playsbyyear">
  <es-table-controller [table]="playsbyyearTable" [searchColumn]="'name'" [placeholder]="'Game'"></es-table-controller>
  <table es-table class="table extstats-table" [data]="rows" #playsbyyearTable="esTable" [rowsOnPage]="100"
         [sortBy]="'score'" [sortOrder]="'desc'">
    <thead es-table-head [columns]="columns"></thead>
    <tbody es-table-body [columns]="columns"></tbody>
  </table>
</div>

<p>For your {{howMany}} most played games, how many times did you play each in each year?</p>
