.item {
  font-weight: bold;
  font-family: Fredoka, sans-serif;
}
.item a {
  color: unset;
  text-decoration: none;
}
.item a:hover {
  text-decoration: underline;
}
.item.uninterested {
  color: darkslategray;
  font-weight: normal;
}
.owned {
  color: darkblue;
}
.prevOwned {
  color: darkcyan;
}
.unknown {
  color: black;
}
.trade {
  color: darkgreen;
  background: yellow;
}
.buy {
  color: forestgreen;
  background: yellow;
}
.play {
  color: deeppink;
  background: yellow;
}
span.rating {
  color: red;
  font-weight: bold;
}
.item.yours {
  color: red;
  font-weight: normal;
}
.checkbutton {
  background: #2424e5;
  border: none;
  color: white;
}
.opts-row {
  --switch-height: 20px;
  --switch-width: 35px;
}
.opts-row {
  margin-top: 8px;
}
.button-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.opts-row label {
  margin-right: 6px;
}
.trade-grid {
  display: grid;
  grid-template-columns: [game] 140px [cash] 80px;
  grid-template-rows: [game] 50px [cash] 40px;
  grid-auto-columns: 140px;
  grid-auto-rows: 50px;
  gap: 6px;
  overflow: scroll;
  width: fit-content;
  height: fit-content;
}
.trade-grid .my-game {
  grid-column: game;
}
.trade-grid .want-cash {
  grid-column: cash;
}
.trade-grid .want-game {
  grid-row: game;
}
.trade-grid .offer-cash {
  grid-row: cash;
}
.output-box {
  min-height: 300px;
  width: 1120px;
  margin-top: 20px;
}
.gridop {
  border: 0;
  background: lightskyblue;
  box-shadow: 2px 2px 1px #ccc;
  width: 26px;
}
