<div class="discover-widget extstats-page">
  <div class="features-header">
    <p>This page displays various features which may get you playing new games.</p>

    <p>This combo lets you modify the selector, i.e. the set of games that the page considers.
      Given the page's focus, not all options will produce useful results.
      The standard option is shown in bold in case you want to return to sanity.
    </p>
    <selector-combo (selectorChosen)="onSelectorChosen($event)"></selector-combo>
  </div>

  @if (loading) {
    <extstats-loader></extstats-loader>
  }

  <h2 id="buylist">Your Buy List</h2>

  <extstats-buylist [data]="data$"/>

  <h2 id="witlist">Your Want In Trade List</h2>

  <extstats-wantintrade [data]="data$"/>

  <h2 id="wtplist">Your Want To Play List</h2>

  <extstats-wanttoplay [data]="data$"/>

  <h2 id="shame">The Shelf of Shame</h2>
  <shame-shelf></shame-shelf>

  <h2 id="mpu">Most Played Games You Haven't Played</h2>
  <most-played-unplayed></most-played-unplayed>

  <h2 id="xfactorrec">X-Factor Recommendations</h2>
  <p>For more details about how these are determined, please read <a href="/blog/xfactor.html">the blog post.</a>
    The X-Factors are calculated in batches on a schedule that I haven't invented yet, so if you haven't got any recommendations it will
    be because you weren't included in the latest batch calculation.
  </p>
  <extstats-recommendations></extstats-recommendations>
</div>

