.owned-widget {
  --primary-colour: #4054b2;
  --text-colour: white;
  --even-colour: rgba(180, 189, 228, 0.5);
}

/* Styles for pogo-table */
.table.extstats-table tbody,
.table.extstats-table thead {
  max-width: 450px;
}
div.extstats-doc button {
  border: solid 1px var(--primary-colour);
}
div.extstats-doc li.nav-item a.nav-link.active {
  color: var(--primary-colour);
}
div.extstats-doc li.nav-item a.nav-link {
  color: #777777;
  font-size: 14px;
  border-radius: unset;
}
div.collapse {
  margin-top: 1rem;
}
.pogo-table, .least-loved-table {
  line-height: 1.5em;
}

th.pily, td.pily {
  width: 80px;
  max-width: 80px;
  text-align: center;
}
