.favourites-widget {
  --primary-colour: #2c992d;
  --text-colour: white;
  --even-colour: rgba(176, 232, 177, 0.5);
  --tab-border-colour: var(--primary-colour);
}

h2 {
  margin-top: 40px;
}
.ng5-slider-inner-tooltip {
  font-size: 14px;
}
td.date-column {
  min-width: 100px;
}
.slider-box {
  flex: 1;
  margin: 12px 8px 0;
  display: flex;
  flex-direction: column;
}
.slider-box .ng5-slider .ng5-slider-pointer {
  background-color: #00cc99;
  width: 20px;
  height: 20px;
  top: -9px;
  transition: all linear .1s;
  margin-left: 5px;
}
.slider-box .ng5-slider .ng5-slider-pointer:after {
  top: 6px;
  left: 6px;
}
.slider-set {
  display: flex;
  flex-direction: row;
}
.sliders {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.you-should-play {
  margin-left: 16px;
  margin-right: 16px;
}

