.favourites-widget {
  --primary-colour: #2c992d;
  --text-colour: white;
  --even-colour: rgba(176, 232, 177, 0.5);
}

/* Styles for favourites-table */
.favourites-table, .you-should-play {
  margin-left: 16px;
  margin-right: 16px;
}
.favourites-table div.extstats-doc button {
  border: solid 1px #159588;
}
.favourites-table div.extstats-doc li.nav-item a.nav-link.active {
  color: #159588;
}
.favourites-table div.extstats-doc li.nav-item a.nav-link {
  color: #777777;
  font-size: 14px;
  border-radius: unset;
}
.favourites-table div.collapse {
  margin-top: 1rem;
}

.table-button {
  border: solid 2px #fd9727;
  margin: 4px;
  height: 32px;
}
.table-button.svg-button {
  padding: 4px;
  width: 32px;
}
.favourites-table div.extstats-doc li.nav-item a.nav-link.active {
  color: #fd9727;
}
.favourites-table div.extstats-doc li.nav-item a.nav-link {
  color: #777777;
  font-size: 14px;
  border-radius: unset;
}
.favourites-table div.collapse {
  margin-top: 1rem;
}
.chart-button {
  border: solid 2px #617d8a;
  margin: 4px;
  height: 32px;
}
div.extstats-doc button {
  border: 1px solid #fd9727;
  border-radius: 0;
  margin: 4px;
}
h2 {
  margin-top: 40px;
}
.ng5-slider-inner-tooltip {
  font-size: 14px;
}
p {
  text-align: left;
}
td.date-column {
  min-width: 100px;
}
.slider-box {
  flex: 1;
  margin: 12px 8px 0;
  display: flex;
  flex-direction: column;
}
.slider-box .ng5-slider .ng5-slider-pointer {
  background-color: #00cc99;
  width: 20px;
  height: 20px;
  top: -9px;
  transition: all linear .1s;
  margin-left: 5px;
}
.slider-box .ng5-slider .ng5-slider-pointer:after {
  top: 6px;
  left: 6px;
}
.slider-set {
  display: flex;
  flex-direction: row;
}
.sliders {
  display: flex;
  flex-direction: column;
  width: 100%;
}
