.user-collection {
  --primary-colour: #0099cc;
  --text-colour: white;
  --even-colour: rgba(179, 236, 255, 0.5);
}

/* Styles for favourites by year table */

.fby-table table.extstats-table td,
.fby-table table.extstats-table tbody,
.fby-table table.extstats-table thead,
.fby-table table.extstats-table.table thead th {
  border-color: var(--primary-colour);
}
.fby-table table.extstats-table {
  border-collapse: collapse;
}
.fby-table div.extstats-doc li.nav-item a.nav-link {
  color: #777777;
  font-size: 14px;
  border-radius: unset;
}

.fby-table .table.extstats-table tbody tr:nth-child(even){
  background-color: var(--even-colour);
}
.fby-table .table.extstats-table tbody tr:nth-child(odd){
  background-color: white;
}
.extstats-page-item.active {
  background-color: var(--even-colour);
}
.extstats-table-controller {
  background-color: var(--primary-colour);
  color: var(--text-colour);
  border: 1px solid var(--primary-colour);
}
.extstats-table-controller a.extstats-page-link {
  color: var(--text-colour);
}
.fby-table {
  margin-left: 16px;
  margin-right: 16px;
}
.fby-table .table.extstats-table thead td,
.fby-table .table.extstats-table tbody td {
  border-right-width: 0;
  border-left-width: 0;
}
.fby-table th {
  background-color: var(--primary-colour);
  color: var(--text-colour);
}
.fby-table thead a {
  color: var(--text-colour);
}
.rbyr-table {
  line-height: 13px;
}
.fc-item.default {
  font-weight: bold;
}
