.user-collection {
  --primary-colour: #0099cc;
  --text-colour: white;
  --even-colour: rgba(179, 236, 255, 0.5);
}

/* Styles for favourites by year table */

table.extstats-table {
  border-collapse: collapse;
}
div.extstats-doc li.nav-item a.nav-link {
  color: #777777;
  font-size: 14px;
  border-radius: unset;
}
.fby-table {
  margin-left: 16px;
  margin-right: 16px;
  text-align: center;
}
.rbyr-table {
  line-height: 13px;
}

