.user-collection {
  --primary-colour: #0099cc;
  --text-colour: white;
  --even-colour: rgba(179, 236, 255, 0.5);
}

/* Styles for favourites by year table */
.fby-table {
  margin-left: 16px;
  margin-right: 16px;
  text-align: center;
}
.rbyr-table {
  line-height: 13px;
}

.rbyr-table,
.rbyr-table table {
  width: 100%;
}
.rating1 { background: #ff0000 }
.rating2 { background: #ff3366 }
.rating3 { background: #ff6699 }
.rating4 { background: #ff66cc }
.rating5 { background: #cc99ff }
.rating6 { background: #9999ff }
.rating7 { background: #99ffff }
.rating8 { background: #66ff99 }
.rating9 { background: #33cc99 }
.rating10 { background: #00cc00 }
.rbyr-table td {
  border: 1px solid black;
}
.rbyr-table table {
  border-collapse: collapse;
}
rating-by-ranking-graph {
  width: 100%;
}
