<div class="owned-widget">
  <div class="features-header">
    <p>This page examines the games you own, what you think of them, and what others think of them.</p>

    <p>This combo lets you modify the selector, i.e. the set of games that the page considers.
      Given the page's focus, not all options will produce useful results.
      The standard option is shown in bold in case you want to return to sanity.
    </p>
    <selector-combo (selectorChosen)="onSelectorChosen($event)"></selector-combo>
  </div>

  @if (loading) {
    <extstats-loader></extstats-loader>
  }

  <h2 id="pogo">Plays of Games Owned</h2>
  <extstats-pogo [data]="pageData$" [geek]="geek"></extstats-pogo>
  <p>&nbsp;</p>
  <extstats-pogo-table [data]="pageData$"></extstats-pogo-table>

  <h2 id="rbpy">Games Owned by Published Year</h2>
  <p>Coloured according to your rating.</p>
  <owned-by-year-graph [data]="pageData$"></owned-by-year-graph>

  <h2 id="pogobpy">Plays of Games Owned by Published Year</h2>
  <pogo-by-published-year [data]="pageData$"></pogo-by-published-year>

  <h2 id="rogyo">Ratings of Games You Own</h2>
  <ratings-owned-charts [data]="pageData$"></ratings-owned-charts>

  <h2 id="bggrogyo">BGG Ratings of Games You Own</h2>
  <bgg-ratings-owned [data]="pageData$"></bgg-ratings-owned>

  <h2 id="leastloved">Why Do You Even Own These Games?</h2>
  <least-loved [data]="pageData$"></least-loved>

  <h2 id="ratingByLifetime">Lifetime of Games by Rating</h2>
  <rating-by-lifetime [data]="pageData$"></rating-by-lifetime>

  <h2 id="mostunusual">The Most Unusual Games You Own</h2>
  <most-unusual></most-unusual>

  @if (geek) {
    <h2 id="checklist">Owned Games Checklist</h2>
    <p>Print off <a href="/api/checklist?geek={{geek}}" target="_blank">this checklist</a> to do a physical stocktake of your collection.</p>
  }
</div>


