.yearly-best-days {
  tbody {
    .plays {
      text-align: left;
      width: 800px;
      max-width: 800px;
    }
    .date {
      width: 150px;
    }
    .score {
      width: 40px;
    }
  }
  thead {
    font-weight: bold;
  }
}
