<div class="yearly-widget extstats-page">
  <div class="features-header">
    <p>This page illustrates your plays year by year over time.</p>
  </div>

  <year-chooser [years]="years" [selected]="year" (year)="setYear($event)"></year-chooser>
  @if (loading) {
    <extstats-loader></extstats-loader>
  }

  <h2 id="yearly-best-days">Best Days of Gaming</h2>
  <yearly-best-days [data]="data$"></yearly-best-days>

  <h2 id="nickel-and-dime">Nickels and Dimes</h2>
  <nickel-and-dime [data]="data$"></nickel-and-dime>

  <h2 id="mike-hulsebus">Mike Hulsebus-Style Pie Chart</h2>
  <mike-hulsebus [data]="data$"></mike-hulsebus>

  <h2 id="hotness">The Hotness</h2>
  <yearly-hotness [year]="year"></yearly-hotness>
</div>
