<div class="ranking-table extstats-page">
  <p>
    The Ranking Table displays the rankings of the top 1000 games ordered by the Extended Stats ranking method.
    That method is to take all of ratings of that game by users of the site, and add them all up.
    This can produce surprising results - at the moment, the 19th ranked game on BGG doesn't make the cut.
    The resulting list is a much more "commercially successful" list than the top rankings at BGG.
  </p>

  @if (loading) {
    <extstats-loader/>
  }

  <div class="extstats-doc">
    <extstats-button-group #buttongroup>
      <button type="button" class="btn table-button" [extstatsButtonGroup]="buttongroup" selector="doc">Documentation</button>
    </extstats-button-group>

    @if (buttongroup.selected === 'doc') {
      <extstats-documentation id="rankingTableDoc" [src]="'/json/en/doc/ranking.json'">
      </extstats-documentation>
    }
  </div>

  <div class="extstats-table-block extstats-table-wide">
    <es-table-controller [table]="rankingTable" [searchColumn]="'game_name'" [placeholder]="'game'"></es-table-controller>
    <table es-table class="table extstats-table" [data]="rows" #rankingTable="esTable" [rowsOnPage]="30" [sortBy]="'name'" [sortOrder]="'asc'">
      <thead es-table-head [columns]="columns">Head</thead>
      <tbody es-table-body [columns]="columns">Body</tbody>
    </table>
  </div>
</div>

