<div class="composer-whole">
  <div class="composer-name">
    <label for="nameInput">Name:</label>
    <input id="nameInput" type="text" class="name-editor" [(ngModel)]="name">
  </div>
  <div class="composer-top">
    <div class="composer-top-buttons">
      <button class="extstats-button" (click)="onDiscard()" [disabled]="!selector()">Discard</button>
    </div>
    <div class="composer-key">
      <composer-selector [metadata]="metadata()" [selector]="selector()" [insertionPoint]="insertionPoint()"/>
    </div>
    <div class="composer-gap"></div>
    @if (selector()?.typeHints) {
      <div class="composer-hint">
        <span>{{selector()?.typeHints}}</span>
      </div>
    }
  </div>
  <div class="composer-bottom">
    @if (warning()) {
      <div class="composer-warning">
        <span>{{warning()}}</span>
      </div>
    } @else {
      <div class="composer-preview">
        <span>{{selector()?.toString()}}</span>
      </div>
    }
    <div class="composer-buttons">
      <button class="extstats-button" (click)="onSave()" [disabled]="!needToSave() || !canSave()">Save</button>
      <button class="extstats-button" (click)="onRun()" [disabled]="!runnable()">Run</button>
      <button class="extstats-button" (click)="onRunInNewWindow()" [disabled]="!runnable()">Run in new window</button>
    </div>
  </div>
</div>
