<div id="pbmever-table" class="monthly-table">
  <div class="extstats-doc">
    <extstats-button-group #buttongroup>
      <button type="button" class="btn table-button" [extstatsButtonGroup]="buttongroup" selector="doc">Documentation</button>
    </extstats-button-group>

    @if (buttongroup.selected === 'doc') {
      <extstats-documentation id="pbmeverTableDoc" [src]="'/json/en/doc/pbmever.json'">
      </extstats-documentation>
    }
  </div>

  <div class="extstats-table-block">
    <es-table-controller [table]="pbmeverTable"></es-table-controller>
    <table es-table class="table table-striped extstats-table" [data]="rows" #pbmeverTable="esTable" [rowsOnPage]="30"
           [sortBy]="'fhm'" [sortOrder]="'desc'">
      <thead es-table-head [columns]="columns"></thead>
      <tbody es-table-body [columns]="columns"></tbody>
    </table>
  </div>
</div>
