span.tag {
  float: left;
  height: 24px;
  line-height: 24px;
  position: relative;
  font-size: 12px;
  margin: 2px 5px 2px 12px;
  padding: 0 10px 0 12px;
  text-decoration: none;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  display: inline;
  font-weight: bold;
}
span.tag.present {
  background: #24E57E;
  color: black;
}
span.tag:not(.present) {
  background: lightgray;
  color: black;
}
span.tag:not(.present):before {
  border-color: transparent lightgray transparent transparent;
}
span.tag:before {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  left: -12px;
  width: 0;
  height: 0;
  border-color: transparent #24E57E transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0;
}
span.tag:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  float: left;
  width: 4px;
  height: 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  -moz-box-shadow: -1px -1px 2px #347F53;
  -webkit-box-shadow: -1px -1px 2px #347F53;
  box-shadow: -1px -1px 2px #347F53;
}
span.tag a:hover {
  cursor: pointer;
}
a.remove {
  font-size: larger;
  text-decoration: none;
  color: black;
}
a.remove:hover {
  font-size: large;
}
