/* You can add global styles to this file, and also import other style files */
.geekPanel {
  width: 200px;
  height: 200px;
  margin: 8px;
  padding: 4px;
  box-shadow: 2px 2px 1px #ccc;
}

a:link .geekPanel {
  text-decoration: none;
}

.geekPanel h3 {
  font-size: 32px;
}

.geekPanel h4 {
  font-size: 24px;
}

.geekPanel:hover {
  box-shadow: 8px 8px 4px #ccc;
}

.geekWidget {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
