.update-button {
  --foreground-colour: white;
  --background-colour: #248BE5;
  --disabled-colour: #6d82ee;
  margin-left: 20px;
}
.url-column {
  width: 300px;
}
.date-column {
  width: 200px;
}
.plays-columns {
  width: 64px;
  text-align: right;
}

