.update-button {
  margin-left: 20px;
  cursor: pointer;
  background: #248be5;
  color: white;
  border: 0;
  width: 90px;
  height: 28px;
}
.update-button:hover {
  background: #115692;
}
.url-column {
  width: 300px;
}
.date-column {
  width: 200px;
}
.plays-columns {
  width: 64px;
  text-align: right;
}

