.yearly-widget {
  --primary-colour: #e68a00;
  --text-colour: black;
  --even-colour: rgba(255, 224, 179, 0.5);
  --tab-border-colour: var(--primary-colour);
}

.table.extstats-table td,
.table.extstats-table tbody,
.table.extstats-table thead,
.table.extstats-table.table thead th {
  border-color: var(--primary-colour);
  max-width: 450px;
}
td.name {
  text-align: left;
}
.pogo-table, .least-loved-table {
  line-height: 1.5em;
}
.pogo-table td.date {
  width: 110px;
}
