<div class="ranking-table" *ngIf="!!rows">

  <div class="extstats-doc">
    <extstats-button-group #buttongroup>
      <button type="button" class="btn table-button" [extstatsButtonGroup]="buttongroup" selector="doc">Documentation</button>
    </extstats-button-group>

    <extstats-documentation id="rankingTableDoc" *ngIf="buttongroup.selected === 'doc'" [src]="'/json/en/doc/ranking.json'">
    </extstats-documentation>
  </div>

  <div class="extstats-table-block">
    <mfTableController [table]="rankingTable" [searchColumn]="'game_name'" [placeholder]="'game'"></mfTableController>
    <table class="table table-striped extstats-table" [mfData]="rows" #rankingTable="mfDataTable" [mfRowsOnPage]="30" [mfSortBy]="'name'" [mfSortOrder]="'asc'">
      <thead>
      <tr>
        <th><mfDefaultSorter by="ranking">Ranking</mfDefaultSorter></th>
        <th><mfDefaultSorter by="game_name">Name</mfDefaultSorter></th>
        <th><mfDefaultSorter by="total_ratings">Score</mfDefaultSorter></th>
        <th><mfDefaultSorter by="num_ratings">Ratings<br>Count</mfDefaultSorter></th>
        <th><mfDefaultSorter by="bgg_ranking">BGG Ranking</mfDefaultSorter></th>
        <th><mfDefaultSorter by="bgg_rating">BGG Rating</mfDefaultSorter></th>
        <th><mfDefaultSorter by="normalised_ranking">Normalised<br>Ranking</mfDefaultSorter></th>
        <th><mfDefaultSorter by="total_plays">Total<br>Plays</mfDefaultSorter></th>
        <th><mfDefaultSorter by="hindex">H-index</mfDefaultSorter></th>
        <th><mfDefaultSorter by="gindex">G-index</mfDefaultSorter></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of rankingTable.data">
        <td>{{row.ranking}}</td>
        <td><a href="https://boardgamegeek.com/boardgame/{{row.game}}">{{row.game_name}}</a></td>
        <td>{{row.total_ratings}}</td>
        <td>{{row.num_ratings}}</td>
        <td>{{row.bgg_ranking}}</td>
        <td>{{row.bgg_rating}}</td>
        <td>{{row.normalised_ranking}}</td>
        <td>{{row.total_plays}}</td>
        <td>{{row.hindex}}</td>
        <td>{{row.gindex}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

