<div class="war-table">
    @if (loading) {
      <extstats-loader/>
    }

  <div class="extstats-doc">
    <extstats-button-group #buttongroup>
      <button type="button" class="btn table-button" [extstatsButtonGroup]="buttongroup" selector="doc">Documentation</button>
    </extstats-button-group>

    @if (buttongroup.selected === 'doc') {
      <extstats-documentation id="warTableDoc" [src]="'/json/en/doc/wartable.json'">
      </extstats-documentation>
    }
  </div>

  <div class="extstats-table-block">
    <es-table-controller [table]="warTable" [searchColumn]="'geekName'" [placeholder]="'geek'"></es-table-controller>
    <table es-table class="table extstats-table" [data]="rows" #warTable="esTable" [rowsOnPage]="30" [sortBy]="'geekName'" [sortOrder]="'asc'">
      <thead es-table-head [columns]="columns">Head</thead>
      <tbody es-table-body [columns]="columns">Body</tbody>
    </table>
  </div>
</div>


