<div>
  <extstats-loader *ngIf="loading"></extstats-loader>
</div>

<div class="war-table" *ngIf="!!rows">
  <div class="extstats-doc">
    <extstats-button-group #buttongroup>
      <button type="button" class="btn table-button" [extstatsButtonGroup]="buttongroup" selector="doc">Documentation</button>
    </extstats-button-group>

    <extstats-documentation id="warTableDoc" *ngIf="buttongroup.selected === 'doc'" [src]="'/json/en/doc/wartable.json'">
    </extstats-documentation>
  </div>

  <div class="extstats-table-block">
    <mfTableController [table]="warTable" [searchColumn]="'geekName'" [placeholder]="'geek'"></mfTableController>
    <table class="table table-striped extstats-table" [mfData]="rows" #warTable="mfDataTable" [mfRowsOnPage]="30"
           [mfSortBy]="'totalPlays'" [mfSortOrder]="'desc'">
      <thead mfHead [columns]="columns"></thead>
      <tbody mfBody [columns]="columns"></tbody>
    </table>
  </div>
</div>

