<div class="war-table extstats-page">
  <P>
    Let's admit it - we all want to be at the top of the list.
    You can sort by different columns to see if you can get yourself there.
    When I compare myself to these guys I'm happy just to make the first page.
    Jim Carvin suggested the Previously Owned ranking because he thought he could be at the top of it.
  </P>
  <p>
    When I designed this page, cyberkev63 christened it "the Pissing War table", but the name has been softened for gentle readers.
  </p>

    @if (loading) {
      <extstats-loader/>
    }

  <div class="extstats-doc">
    <extstats-button-group #buttongroup>
      <button type="button" class="btn table-button" [extstatsButtonGroup]="buttongroup" selector="doc">Documentation</button>
    </extstats-button-group>

    @if (buttongroup.selected === 'doc') {
      <extstats-documentation id="warTableDoc" [src]="'/json/en/doc/wartable.json'">
      </extstats-documentation>
    }
  </div>

  <div class="extstats-table-block extstats-table-wide">
    <es-table-controller [table]="warTable" [searchColumn]="'geekName'" [placeholder]="'geek'"></es-table-controller>
    <table es-table class="table extstats-table" [data]="rows" #warTable="esTable" [rowsOnPage]="30" [sortBy]="'geekName'" [sortOrder]="'asc'">
      <thead es-table-head [columns]="columns">Head</thead>
      <tbody es-table-body [columns]="columns">Body</tbody>
    </table>
  </div>
</div>


