<div class="pogo-table">
  @if (!!rows) {
    <div class="extstats-table-block">
      <es-table-controller [table]="pogoTable" [searchColumn]="'name'" [placeholder]="'game'"></es-table-controller>
      <table es-table class="table extstats-table" [data]="rows" #pogoTable="esTable" [rowsOnPage]="30"
             [sortBy]="'plays'" [sortOrder]="'desc'">
        <thead>
        <tr>
          <th class="col-game-name"><es-default-sorter by="name">Name</es-default-sorter></th>
          <th class="col-plays"><es-default-sorter by="plays">Plays</es-default-sorter></th>
          <th class="col-ranking"><es-default-sorter by="bggRank">BGG Rank</es-default-sorter></th>
          <th class="col-rating"><es-default-sorter by="bggRating">BGG Rating</es-default-sorter></th>
          <th class="col-rating"><es-default-sorter by="rating">Your Rating</es-default-sorter></th>
          <th class="col-date"><es-default-sorter by="firstPlay">First Play</es-default-sorter></th>
          <th class="col-date"><es-default-sorter by="lastPlay">Last Play</es-default-sorter></th>
          <th class="col-percentage"><es-default-sorter by="utilisation">Utilisation</es-default-sorter></th>
          <th class="pily"><es-default-sorter by="playsInLastYear">Plays in Last Year</es-default-sorter></th>
        </tr>
        </thead>
        <tbody>
          @for (row of pogoTable.data; track row.bggid) {
            <tr>
              <td class="col-game-name"><boardgame [game]="row" [allTags]="tagService.allTags" [tagsForGame]="tagService.getTagsForGame(row.bggid)"></boardgame></td>
              <td class="col-plays">{{row.plays}}</td>
              <td class="col-ranking">{{row.bggRank}}</td>
              <td class="col-rating">{{row.bggRating}}</td>
              <td class="col-rating">{{row.rating}}</td>
              <td class="col-date">{{row.firstPlay}}</td>
              <td class="col-date">{{row.lastPlay}}</td>
              <td class="col-percentage">{{row.utilisation}}</td>
              <td class="pily">{{row.playsInLastYear}}</td>
            </tr>
          }

        </tbody>
      </table>
    </div>
  }
</div>
