.ranking-table {
  --primary-colour: #e62565;
  --text-colour: white;
  --even-colour: rgba(255, 190, 254, 0.5);
  --tab-border-colour: var(--primary-colour);
}

.rankings-link {
  text-decoration: none;
  color: black;
}
.rankings-link:hover {
  text-decoration: underline;
  color: darkgray;
}
