table.hotness td.class0 {
  background-color: white;
  color: black;
}
table.hotness td.class1 {
  background-color: khaki;
}
table.hotness td.class2 {
  background-color: palegreen;
}
table.hotness td.class3 {
  background-color: lime;
}
table.hotness td.class4 {
  background-color: springgreen;
}
table.hotness td.class5 {
  background-color: forestgreen;
  color: white;
}
table.hotness tbody.day td {
  width: 64px;
}
table.hotness tbody.date td {
  width: 40px;
}
table.hotness tbody.month td {
  width: 64px;
}
table.hotness td.doc {
  padding: 2px 8px;
}
table.hotness {
  border-collapse: separate;
  margin: 0 auto;
}
table.hotness thead, table.hotness td.total {
  font-weight: bold;
}
