.plays-widget {
  --primary-colour: #00cc99;
  --text-colour: white;
  --even-colour: rgba(179, 255, 236, 0.5);
  --tab-border-colour: var(--primary-colour);
}

table td.class0 {
  background-color: white;
  color: black;
}
table td.class1 {
  background-color: khaki;
}
table td.class2 {
  background-color: palegreen;
}
table td.class3 {
  background-color: lime;
}
table td.class4 {
  background-color: springgreen;
}
table td.class5 {
  background-color: forestgreen;
  color: white;
}
table.hotness tbody.day td {
  width: 64px;
}
table.hotness tbody.date td {
  width: 40px;
}
table.hotness tbody.month td {
  width: 64px;
}
table.hotness td.doc {
  padding: 2px 8px;
}
table.hotness {
  border-collapse: separate;
  margin: 0 auto;
}
table.hotness thead, table.hotness td.total {
  font-weight: bold;
}

div.monthly-table {
  margin-bottom: 40px;
}
.slider-box {
  flex: 1;
  margin: 12px 8px 0;
  display: flex;
  flex-direction: column;
}
.slider-box .ng5-slider .ng5-slider-pointer {
  background-color: #00cc99;
  width: 20px;
  height: 20px;
  top: -9px;
  transition: all linear .1s;
  margin-left: 5px;
}
.slider-box .ng5-slider .ng5-slider-pointer:after {
  top: 6px;
  left: 6px;
}
h2 {
  margin-top: 40px;
}
.slider-box {
  flex: 1;
  margin: 12px 8px 0;
  display: flex;
  flex-direction: column;
}
.slider-box .ng5-slider .ng5-slider-pointer {
  background-color: #00cc99;
  width: 20px;
  height: 20px;
  top: -9px;
  transition: all linear .1s;
  margin-left: 5px;
}
.slider-box .ng5-slider .ng5-slider-pointer:after {
  top: 6px;
  left: 6px;
}
.slider-set {
  display: flex;
  flex-direction: row;
}
.sliders {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ng5-slider-inner-tooltip {
  font-size: 14px;
}
p {
  text-align: left;
}
th.wide {
  width: 200px;
  min-width: 200px;
}
.playsbyyear .table.extstats-table tbody tr {
  background-color: white;
}
.playsbyyear .extstats-table td,
.playsbyyear .extstats-table tbody,
.playsbyyear .extstats-table thead,
.playsbyyear .extstats-table.table thead th {
  border-color: black;
}
.playsbyyear .extstats-table thead td,
.playsbyyear .extstats-table tbody td {
  border-right-width: 1px;
  border-left-width: 1px;
}
.playsbyyear .extstats-table-controller {
  border: 1px solid black;
}
