<div id="bestdays-table">
  <div class="extstats-doc">
    <extstats-button-group #buttongroup>
      <button type="button" class="btn" [extstatsButtonGroup]="buttongroup" selector="config">Fiddle</button>
      <button type="button" class="btn" [extstatsButtonGroup]="buttongroup" selector="doc">Documentation</button>
    </extstats-button-group>

    @if (buttongroup.selected === 'config') {
      <div style="display: flex; flex-direction: row; width: 100%">
        <div class="slider-box">
          <h3>Neutral rating {{mediumRating}}</h3>
          <ngx-slider [(value)]="mediumRating" [options]="mediumRatingOptions" (userChange)="fiddle.next(undefined)"></ngx-slider>
          <p>The neutral rating is the rating for a game on BGG that you believe counts as neither good nor bad.
            Games rated below this make the day worse, and games rated above make the day better. By default, this is 5.0.
          </p>
        </div>
        <div class="slider-box">
          <h3>Bias {{bias}}</h3>
          <ngx-slider [(value)]="bias" [options]="biasOptions" (userChange)="fiddle.next(undefined)"></ngx-slider>
          <p>Bias is the extra weighting given to very highly-rated or very-lowly rated games.
            It is used as an exponent, so the score for a game rated R is |R - {{mediumRating}}|^{{bias}}, and that
            value is positive or negative according to whether it is more than or less than {{mediumRating}}.
            The default value for this is 1.75.
          </p>
        </div>
        <div class="slider-box">
          <h3>Maximum Plays {{maxPlays}}</h3>
          <ngx-slider [(value)]="maxPlays" [options]="maxPlaysOptions" (userChange)="fiddle.next(undefined)"></ngx-slider>
          <p>The maximum plays of one game which will count towards the score. The default value is 1.5.
            So if you play 12 games of Candyland, and one of Twilight Struggle, Candyland doesn't entirely dictate how the day went.</p>
        </div>
      </div>
    }

    @if (buttongroup.selected === 'doc') {
      <extstats-documentation id="bestdaysTableDoc" [src]="'/json/en/doc/bestdays.json'">
      </extstats-documentation>
    }
  </div>

  <div class="extstats-table-block bestdays">
    <es-table-controller [table]="bestdaysTable" [searchColumn]="'playstr'" [placeholder]="'Plays'"></es-table-controller>
    <table es-table class="table extstats-table" [data]="rows" #bestdaysTable="esTable" [rowsOnPage]="20"
           [sortBy]="'score'" [sortOrder]="'desc'">
      <thead es-table-head [columns]="columns"></thead>
      <tbody es-table-body [columns]="columns"></tbody>
    </table>
  </div>
</div>
