<div class="extstats-doc">
  <extstats-button-group #buttongroup>
    <button type="button" class="btn" [extstatsButtonGroup]="buttongroup" selector="config">Fiddle</button>
  </extstats-button-group>
</div>

<div class="sliders" *ngIf="buttongroup.selected === 'config'">
  <div class="slider-set">
    <div class="slider-box">
      <h3>Width of Chart = {{width}}</h3>
      <ng5-slider [(value)]="width" [options]="widthOptions" (userChange)="fiddle.next()"></ng5-slider>
      <p>The width of the chart in pixels. By default, this is 1000.
      </p>
    </div>
    <div class="slider-box">
      <h3>Height of Chart = {{height}}</h3>
      <ng5-slider [(value)]="height" [options]="heightOptions" (userChange)="fiddle.next()"></ng5-slider>
      <p>The height of the chart in pixels. By default, this is 600.
      </p>
    </div>
  </div>
  <div class="slider-set">
    <div class="slider-box">
      <h3>Games Cutoff = {{GAME_CUTOFF}}</h3>
      <ng5-slider [(value)]="GAME_CUTOFF" [options]="gameCutoffOptions" (userChange)="fiddle.next()"></ng5-slider>
      <p>Games from this year and before will be bundled together. By default, this is 1994.
      </p>
    </div>
    <div class="slider-box">
      <h3>Plays Cutoff = {{PLAY_CUTOFF}}</h3>
      <ng5-slider [(value)]="PLAY_CUTOFF" [options]="playCutoffOptions" (userChange)="fiddle.next()"></ng5-slider>
      <p>Plays from this year or before will be ignored. By default this is 2005.
      </p>
    </div>
  </div>
</div>

<div class="extstats-graph new-releases">
  <div #target style="flex-grow: 1; display: block"></div>
</div>

<p>
  How old are the games you tend to play? How long do games stay in your rotation?
</p>
<p>
  For each quarter, I count the number of plays of games for each year of publication.
  More recent years are shown at the top of each column.
  The values are normalised so we are looking at proportions, not absolute numbers of plays.
</p>
