.chart-button {
  border: solid 2px #617d8a;
  margin: 4px;
  height: 32px;
}

/* Styles for monthly tables */
.monthly-table .table.extstats-table td,
.monthly-table .table.extstats-table tbody,
.monthly-table .table.extstats-table thead,
.monthly-table .table.extstats-table.table thead th {
  border-color: #8cc152;
}
/* border colour lightened 60% with 0.5 alpha */
/* https://www.hexcolortool.com/#e52464 */
.monthly-table .table.table-striped.extstats-table tbody tr:nth-child(odd){
  background-color: rgba(242, 255, 184, 0.5);
}
.monthly-table .table.table-striped.extstats-table tbody tr:nth-child(even){
  background-color: white;
}
.extstats-page-item.active {
  background-color: rgba(242, 255, 184, 0.5);
}
.extstats-table-controller {
  background-color: #8cc152;
  color: black;
  border: 1px solid #8cc152;
}
.extstats-table-controller a.extstats-page-link {
  color: black;
}
.monthly-table {
  margin-left: 16px;
  margin-right: 16px;
}
.monthly-table .table.extstats-table thead td,
.monthly-table .table.extstats-table tbody td {
  border-right-width: 0;
  border-left-width: 0;
}
.monthly-table th {
  background-color: #8cc152;
  color: black;
}
.monthly-table div.extstats-doc button {
  border: solid 1px #8cc152;
}
.monthly-table div.extstats-doc li.nav-item a.nav-link.active {
  color: #8cc152;
}
.monthly-table div.extstats-doc li.nav-item a.nav-link {
  color: #777777;
  font-size: 14px;
  border-radius: unset;
}
.monthly-table div.collapse {
  margin-top: 1rem;
}
.month-column {
  min-width: 90px;
}
.skyline-new {
  width: 100%;
  background-color: #e62565;
  z-index: 3;
  position: absolute;
  bottom: 0;
}
.skyline-plays {
  width: 100%;
  background-color: #8cc152;
  z-index: 1;
  position: absolute;
  bottom: 0;
}
.skyline-distinct {
  width: 100%;
  background-color: #159588;
  z-index: 2;
  position: absolute;
  bottom: 0;
}
.skyline-stack {
  display: inline-block;
  width: 40px;
  position: relative;
  flex: 0 0 auto;
}
.skyline {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.skyline-column span {
  font-size: 12px;
}
.skyline-legend-new {
  width: 20px;
  background-color: #e62565;
}
.skyline-legend-distinct {
  width: 20px;
  background-color: #159588;
}
.skyline-legend-plays {
  width: 20px;
  background-color: #8cc152;
}
.skyline-legend td {
  text-align: left;
}
.slider-box {
  flex: 1;
  margin: 12px 8px 0;
  display: flex;
  flex-direction: column;
}
.slider-box .ng5-slider .ng5-slider-pointer {
  background-color: #00cc99;
  width: 20px;
  height: 20px;
  top: -9px;
  transition: all linear .1s;
  margin-left: 5px;
}
.slider-box .ng5-slider .ng5-slider-pointer:after {
  top: 6px;
  left: 6px;
}
.slider-set {
  display: flex;
  flex-direction: row;
}
.sliders {
  display: flex;
  flex-direction: column;
  width: 100%;
}
div.extstats-doc button {
  border: 1px solid #00cc99;
  border-radius: 0;
  margin: 4px;
}
h2 {
  margin-top: 40px;
}
.ng5-slider-inner-tooltip {
  font-size: 14px;
}
p {
  text-align: left;
}
