.monthly-widget {
  --primary-colour: #b3b300;
  --text-colour: black;
  --even-colour: rgba(255, 255, 153, 0.5);
  --tab-border-colour: var(--primary-colour);
}

.monthly-table {
  margin-left: 16px;
  margin-right: 16px;
}
.month-column {
  min-width: 90px;
}
.skyline-new {
  width: 100%;
  background-color: #e62565;
  z-index: 3;
  position: absolute;
  bottom: 0;
}
.skyline-plays {
  width: 100%;
  background-color: #8cc152;
  z-index: 1;
  position: absolute;
  bottom: 0;
}
.skyline-distinct {
  width: 100%;
  background-color: #159588;
  z-index: 2;
  position: absolute;
  bottom: 0;
}
.skyline-stack {
  display: inline-block;
  width: 40px;
  position: relative;
  flex: 0 0 auto;
}
.skyline {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: var(--content-width);
}
.skyline-column span {
  font-size: 12px;
}
.skyline-legend-new {
  width: 20px;
  background-color: #e62565;
}
.skyline-legend-distinct {
  width: 20px;
  background-color: #159588;
}
.skyline-legend-plays {
  width: 20px;
  background-color: #8cc152;
}
.skyline-legend td {
  text-align: left;
}
.slider-box {
  flex: 1;
  margin: 12px 8px 0;
  display: flex;
  flex-direction: column;
}
.slider-box .ng5-slider .ng5-slider-pointer {
  background-color: #00cc99;
  width: 20px;
  height: 20px;
  top: -9px;
  transition: all linear .1s;
  margin-left: 5px;
}
.slider-box .ng5-slider .ng5-slider-pointer:after {
  top: 6px;
  left: 6px;
}
.slider-set {
  display: flex;
  flex-direction: row;
}
.sliders {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ng5-slider-inner-tooltip {
  font-size: 14px;
}
