
@let at = value()?.type;
@let iam = iAmTheInsertionPoint();
@if (at === "SELECTOR_ARRAY") {
  @for (selector of selectors(); track selector; let index = $index; let last = $last) {
    @if (selector.isValid()) {
      <selector-chip [editable]="true" [selector]="selector.toString()" (remove)="onRemove(index)"></selector-chip>
    } @else {
      <composer-selector [metadata]="metadata()" [selector]="selector"/>
    }
    @if (!last || iam) {
      <span>, </span>
    }
  }
  @if (iam) {
    <button style="border: 1px solid black; background: white;">...</button>
  }
} @else if (at === "GAME_IDS") {
  <input type="text" [(ngModel)]="ids"><button (click)="onIdsEntered()">✓</button>
} @else if (at === "USER") {
  <geek-combo #geek [placeholder]="'user'" (geekChosen)="chosenUser.set({ user: $event })"></geek-combo>
} @else if (at === "CATEGORY") {
  <select id="category" name="categories" [(ngModel)]="categories">
    @let meta = metadata();
    @if (meta) {
      @for (entry of meta.categories; track entry) {
        <option value="{{entry}}">{{entry}}</option>
      }
    }
  </select>
} @else if (at === "MECHANIC") {
  <select id="mechanic" name="mechanics" [(ngModel)]="mechanics">
    @let meta = metadata();
    @if (meta) {
      @for (entry of meta.mechanics; track entry) {
        <option value="{{entry}}">{{entry}}</option>
      }
    }
  </select>
} @else if (at === "DESIGNER") {
  <designer-combo #designer (designerChosen)="onDesignerChosen($event)"></designer-combo>
} @else if (at === "YEAR") {
  <year-picker #year (yearChosen)="onYearChosen($event)"></year-picker>
} @else if (at === "PUBLISHER") {
  <publisher-combo #publisher (publisherChosen)="onPublisherChosen($event)"></publisher-combo>
} @else if (at === "TAG") {
  <select id="tag" name="tags" [(ngModel)]="tags">
    @let meta = metadata();
    @if (meta) {
      @for (entry of meta.tags; track entry) {
        <option value="{{entry}}">{{entry}}</option>
      }
    }
  </select>
}
