
@let at = argType();
@if (at === "SELECTOR_ARRAY") {
  <selector-chips [editable]="true" [selectors]="selectors().map(selectorToString)"></selector-chips>
  <button>...</button>
} @else if (at === "GAME_IDS") {
  <input type="text">
} @else if (at === "USER") {
  <geek-combo [placeholder]="'user'" (geekChosen)="chosenUser.set({ user: $event })"></geek-combo>
} @else if (at === "CATEGORY") {
  <select id="category" name="categories" [(ngModel)]="categories">
    @let meta = metadata();
    @if (meta) {
      @for (entry of meta.categories; track entry) {
        <option value="{{entry}}">{{entry}}</option>
      }
    }
  </select>
} @else if (at === "MECHANIC") {
  <select id="mechanic" name="mechanics" [(ngModel)]="mechanics">
    @let meta = metadata();
    @if (meta) {
      @for (entry of meta.mechanics; track entry) {
        <option value="{{entry}}">{{entry}}</option>
      }
    }
  </select>
} @else if (at === "DESIGNER") {
  <designer-combo (designerChosen)="onDesignerChosen($event)"></designer-combo>
} @else if (at === "PUBLISHER") {
  <publisher-combo (publisherChosen)="onPublisherChosen($event)"></publisher-combo>
} @else if (at === "TAG") {
  <select id="tag" name="tags" [(ngModel)]="tags">
    @let meta = metadata();
    @if (meta) {
      @for (entry of meta.tags; track entry) {
        <option value="{{entry}}">{{entry}}</option>
      }
    }
  </select>
}
